<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:checkout" type="Sitecore.Support.Shell.Framework.Commands.CheckOut,Sitecore.Support.91717" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.CheckOut,Sitecore.Kernel']" />
    </commands>
  </sitecore>
</configuration>